/* Write your CSS here */
.app-container {
  background: linear-gradient(to right, #ffffff, #cffcf1, #defafe);
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.container {
  font-family: 'Roboto';
}

.heading {
  text-align: center;
  font-size: 25px;
}

.time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 300px;
  height: 270px;
  background-size: cover;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
}

.show-time-container {
  height: 110px;
  background-color: #ffffff;
  width: 110px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  font-weight: 600;
  font-size: 19px;
  color: #00d9f5;
}

.timer-status-txt {
  font-weight: 600;
  font-size: 14px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-reset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.play-pause {
  display: flex;
  background-color: transparent;
  border-width: 0px;
  flex-direction: row;
  align-items: center;
  margin-right: 14px;
}

.reset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border-width: 0px;
}

.para {
  font-size: 10px;
  text-align: center;
  color: #0f172a;
  font-weight: 500;
}

.btn-txt {
  font-weight: 700;
  background-color: transparent;
  border-width: 0px;
}

.plus-minus-container {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toggle-time {
  height: 28px;
  text-align: center;
  font-size: 10px;
  padding: 8px;
  width: 49px;
  border-radius: 6px;
  background: linear-gradient(to right, #2bd3ca, cyan);
}

.sign {
  border-width: 0px;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
}
